
<div class="isbfooter">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
                <p><b>ISBAA:</b></p>
                <p><b>Important Documents:</b></p>
                <p><b>Contact Us:</b></p>
            </div>
            <div class="col-md-3">
                <p>Senate</p>
                <p>PGP-MBA Equivalence Document</p>
                <p>alumni_engagement@isb.edu</p>
            </div>
            <div class="col-md-3">
                <p>Chapter</p>
                <p>Alumni Handbook</p>
                <p>+91 40 2318 7777 (Hyderabad)</p>
            </div>
            <div class="col-md-3">
                <p>Bye Laws</p>
                <p>Terms & Conditions</p>
                <p>+91 172 459 0000 (Mohali)</p>
            </div>
          </div>
      </div>
    </div>
    </div>
   