
<div class="container">
  <div class="row">
      <div class="col-md-3"></div>
    <div class="col-md-6 quick_summary">
        <h3>Quick Summary</h3>
          <p>
            Please find below a quick summary of the latest on this portal since your last login.
          </p>
          <div class="count_status">
          <div class="col-md-10">
            <h4>Jobs not Broadcasted</h4>
          </div>
          <div class="col-md-2">2</div>
          <div class="col-md-10">
              <h4>New Shortlists</h4>
            </div>
            <div class="col-md-2">0</div>
            <div class="col-md-10">
                <h4>Recruiters not Activated</h4>
              </div>
              <div class="col-md-2">13</div>
              <div class="col-md-10">
                  <h4>Students not Activated</h4>
                </div>
                <div class="col-md-2">1</div>
                <!-- <div class="col-md-10">
                    <h4>PPT not Broadcasted</h4>
                  </div>
                  <div class="col-md-2">1</div> -->
                  <div class="col-md-10">
                      <h4>Offers not Broadcasted</h4>
                    </div>
                    <div class="col-md-2">0</div>
                  </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>